<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/departament.css">
</head>
<body>
    <div class="top-container">
        <nav class="nav-bar">
            <div class="first-container">
                <div class="views">Views</div>
                <div class="search-container">
                    <input type="text" placeholder="Search..." class="input-search">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                </div>
            </div>
            
        </nav>
    </div>

    <div class="content">
        <div class="nav-content">
            <h2>Users Managment</h2>
            <div class="add-btn-container" id="openModal">
                <i class="fa-regular fa-square-plus"></i>
                <input type="button" value="Add Department" class="add-btn">
                <!-- Botón de enviar <input type="button" value="Assign user to Dep" id="openModal2" class="add-btn"> -->
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Department Name</th>
                    <th>Description</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each datos}}
                <tr>
                    <td>{{idDepartamento}}</td>
                    <td>{{Nombre_departamento}}</td>
                    <td>{{Descripcion}}</td>
                    <td class="state">
                        <span class="{{#if Estado}}active{{else}}inactive{{/if}}"><div class="dot"></div>
                            {{#if Estado}}
                            Active
                            {{else}}
                            Inactive
                            {{/if}}
                        </span></td>
                    <td>
                        <div class="dropdown">
                            <button class="action-btn">Actions</button>
                            <div class="dropdown-content">
                                <button class="edit-btn"  onclick="location.href='/nuclea/departament/update/{{idDepartamento}}'">
                                  <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button class="delete-btn" onclick="location.href='/nuclea/departament/delete/{{idDepartamento}}'">
                                  <i class="fa-solid fa-trash"></i> Delete
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{#if error}}
            <p style="text-align: center; margin-top: 20px;">No departaments existing</p>
        {{/if}}

    <div id="modal" class="modal hidden">
        <div class="modal-content">
            
            <button id="closeModal" class="close-btn">✖</button>

            <h2 class="title-modal">Add Department</h2>
            <p class="description">Fill in the required details to register this Department</p>

            <form id="departmentForm" method="POST" action="/nuclea/departament">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="form-group">
                    <label for="deptName">Department Name</label>
                    <input type="text" id="deptName" name="Nombre_departamento" placeholder="Finance" class="text-modal" required>
                </div>

                <div class="form-group">
                    <label for="desc">Description</label>
                    <input type="text" id="desc" name="Descripcion" placeholder="Manage Financial Operations" class="text-modal" required>
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="statusSelect" name="Estado" class="text-modal option-modal" required>
                        <option value="1" class="option-modal">Active</option>
                        <option value="0" class="option-modal">Inactive</option>
                    </select>
                </div>

                <input type="submit" class="btn-submit" value="Add Department">
            </form>
        </div>
    </div>


    </div>


    <script src="/js/addDepartament.js"></script>
</body>
</html>
