<!DOCTYPE html>
<html lang="es">
<head>
    <title>User Profile</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/profile.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="profile-header">
            <div class="profile-image-container">
                <img class="profile-image" src="/media/profile.png" alt="Profile image">
                <img class="edit-button" src="/media/boton.png" alt="Edit icon">
            </div>
            <div class="profile-name">{{nombre}} {{apellidos}}</div>
            <div class="profile-info">
                <div class="info-label">Location:</div>
                <div class="info-value">
                    {{pais}}, {{ciudad}}, {{calle}}
                </div>
            </div>
        </div>
        
        <div class="profile-info">            
            <div class="info-section">
                <div class="info-label">Department:</div>
                <div class="info-value">{{departamentos}}</div>
            </div>
            
            <div class="info-section">
                <div class="info-label">Email:</div>
                <div class="info-value">{{email}}</div>
            </div>
            
            <div class="info-section">
                <div class="info-label">Registration Date:</div>
                <div class="info-value">{{formatDate registration}}</div>
            </div>
            <a href="/nuclea/faltasAdministrativas"><center><button class="button is-link is-outlined" >Administrative offenses</button></center></a>
            
        </div>
    </div>
</body>
</html>
{{!-- 

        <div>
          <span class="label"><h2>Email:</h2></span>
          <div class="info-item"><h2>{{email}}</h2></div>
        </div>

        <div>
          <span class="label"><h2>Registration date:</h2></span>
          <div class="info-item"><h2>{{formatDate registration}}</h2></div>
        </div>
        <br />
        <a href="/nuclea/faltasAdministrativas"><center><button
              class="button is-link is-outlined"
            >Administrative offenses</button></center></a>
      </div>
    </div>
  </body>
</html>  --}}