{{!-- 
            <tbody>
                {{#each usuarios}}
                <tr>
                    <td>{{Nombre}}</td>
                    <td>Dept despues</td>
                    <td>{{formatDate Fecha_inicio_colab}}</td>
                    <td>{{Modalidad}}</td>
                    <td>{{Ciudad}}</td>
                    <td>{{Estatus}}</span></td>
                    <td>
                        <div class="dropdown">
                            <button class="action-btn">Actions</button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

<div id="modal-fa" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add user</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form action="/nuclea/users" id="form-user" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <label for="name_us" class="label">Employee Names</label>
        <input
          class="input is-primary"
          type="text"
          placeholder="Names"
          id="name_us"
          name="name_us"
          required
        />
        <br><br>
        <br><br>
        <label for="passw" class="label">Password</label>
        <input
          class="input is-primary"
          type="text"
          placeholder="password"
          id="passw"
          name="passw"
          value="{{tempPassword}}"
          readonly
        />
        <br><br>
        <label for="role" class="label">Select role:</label>
          <div class="select is-primary">
            <select id="role" name="role">
              {{#each rols}}
                <option value="{{idRol}}">{{Nombre_rol}}</option>
              {{/each}}
            </select>
          </div>
        <br><br>
 --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/users.css">
</head>
<body>

    <div class="top-container">
        <nav class="nav-bar">
            <div class="first-container">
                <div class="views">Views</div>
                <div class="search-container">
                    <input type="text" placeholder="Search..." class="input-search">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                </div>
            </div>
            <div class="second-container">
                <div class="notification">
                    <i class="fa-solid fa-bell"></i>
                </div>
                <div class="perfil">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </nav>
    </div>

    <div class="content">
        <div class="nav-content">
            <h2>Users Managment</h2>
            <input type="button" value="Add Users" id="openModal" class="add-btn">
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Dept</th>
                    <th>Start Date</th>
                    <th>Working Model</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
              {{#each usuarios}}
                <tr>
                    <td>{{Nombre}}</td>
                    <td>101</td>
                    <td>{{formatDate Fecha_inicio_colab}}</td>
                    <td>{{Modalidad}}</td>
                    <td>{{Ciudad}}</td>
                    <td>{{#if Estatus}}
                          <span class="active">Active</span>
                        {{else}}
                          <span class="inactive">Inactive</span>
                        {{/if}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="action-btn">Actions</button>
                        </div>
                    </td>
                </tr>
              {{/each}}
            </tbody>
        </table>

        <!-- MODAL -->
    <div id="modal" class="modal hidden">
        <div class="modal-content">
            <!-- Botón de cerrar -->
            <button id="closeModal" class="close-btn">✖</button>

            <h2 class="title-modal">Add Users</h2>
            <p class="description">Fill in the required details to recall this Users</p>

            <!-- Campos -->
            <form action="/nuclea/users" id="form-user" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="form-group">
                    <label>Employee Names</label>
                    <input type="text" placeholder="Jacob" class="text-modal" name="name_us" >
                </div>
    
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" placeholder="Espejel" class="text-modal" name="lastname_us">
                </div>
            
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" placeholder="jacob@nuclea.com" class="text-modal" name="email_us">
                </div>
    
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" placeholder="Mexico" class="text-modal" name="country_us">
                </div>

                <div class="form-group">
                    <label>City </label>
                    <input type="text" placeholder="Queretaro" class="text-modal" name="city_us">
                </div>

                <div class="form-group">
                    <label>Street</label>
                    <input type="text" placeholder="Las Praderas 123" class="text-modal" name="street_us">
                </div>

                <div class="form-group">
                    <label for="status">Working Model</label>
                    <select class="text-modal" name="model_us" required>
                        <option value="On-Site-Work">On-site-work</option>
                        <option value="Hybrid Work">Hybrid work</option>
                        <option value="Remote Work">Remote Work</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Vacation Days</label>
                    <input type="number" placeholder="Choose a Numer" class="text-modal" name="dias_vacaciones">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="text" placeholder="Choose a Numer" value={{tempPassword}} class="text-modal" name="passw" readonly>
                </div>

                <div class="form-group">
                    <label for="status">Select Role</label>
                    <select class="text-modal" name="role" required>
                      {{#each rols}}
                        <option value="{{idRol}}">{{Nombre_rol}}</option>
                      {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <select  class="text-modal" name="status_us" required>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>



            <div class="form-row">
                <div class="form-group form-date">
                    <label>Start Date</label>
                    <input type="date" class="text-modal date-modal" name="start_date">
                </div>

                <div class="form-group form-date">
                    <label>End Date</label>
                    <input type="date" class="text-modal date-modal" name="end_date">
                </div>
                
            </div>

            <!-- Botón de enviar -->
            <input type="submit" class="btn-submit" value="Add Users">

          </form>
        </div>
    </div>
    
    </div>

    <script src="/js/users.js"></script>

</body>
</html>
