<style>
  .chart-container {
    width: 80%;
    height: 80%;
    padding: 10px auto;
    margin: 0 auto;

  }
  canvas#radar-chart {
    width: 90% !important;
    height: auto !important;
    margin: 0;
    padding: 0;
    margin-top: -30px;
  }
  .overview {
    margin: 0;
    margin-left: 3rem;
    margin-top: 1.5rem;
    padding: 0 auto;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
  }

</style>


<div class="{{className}}" 
     data-workload="{{workload}}" 
     data-health="{{health}}" 
     data-recognition="{{recognition}}" 
     data-emotional="{{emotionalHealth}}" 
     data-balance="{{workLifeBalance}}">
     <h3>{{graphTitle}}</h3>
  <canvas id="radar-chart"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="/js/graph.js"></script>
