
<head>
    <link rel="stylesheet" href="/css/interview2.css">
</head>
<!-- employee-evaluation.hbs -->

<form id="interviewForm" action="/nuclea/interview/{{contacts.id}}" method="POST">
<input type="hidden" id="questions-data" value="{{{json preguntas}}}">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<div class="evaluation-container">
  <h1>Employee evaluation</h1>
  

 
{{#each preguntas}}
  {{#if (eq tipoPregunta 'cerrada')}}
    <div class="evaluation-field">
      <div class="question">
      <label for="workload">{{pregunta}}</label>
      <p>{{descripcionPregunta}}</p>
      </div>
      <div class="select-wrapper">
        <select id={{preguntaId}} name={{name}}>
          <option value="1">1</option>
          <option value="2" selected>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <div class="select-arrow"></div>
      </div>
    </div>
  {{/if}}
{{/each}}
  

  
  {{> graph 
    className="chart-container" }}

  <div class="button-container">

    <button id="go-back-btn" class="btn btn-secondary" type="button"><i class="fa-solid fa-caret-left"></i>Go back</button>
    <button id="save-button" class="btn btn-primary" >Save interview</button>
  </div>
</div>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>